<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Express</title>
  <link rel="stylesheet" href="../public/css/bootstrap.min.css">
  <script src="../public/javascript/jquery-3.2.1.min.js"> </script>
  <script src="../public/javascript/bootstrap.min.js"> </script>
  <script src="../public/javascript/script.js"> </script>
</head>
<body>
<h2> Hello Everyone</h2>
<p> Welcome in the session of Express js</p>
<div class="form-group">
<input id="text1"  type="text" name="value" class="form-control">
</div>
<div class="form-group">
<input id="text2" type="text" name="value" class="form-control">
</div>
<div class="form-group">
  <p id="result"> </p>
</div>
<div class=form-group>
<button id="button1" class="btn btn-success">Calculate </button>
</div>
</body>
</html>
